{% extends 'base.html' %}}
{% load static %}
{% block title %} About
{% endblock title %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/for_about.css' %}">
{% endblock link %}

{% block aboutactive %}
active
{% endblock aboutactive%}
{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="about" id="about">
                    <h2 class="titleText" style="text-align:center;"><span>A</span>bout Us</h2><br>
                   <!-- <p>This website with a beautiful interface is a converter which helps you to construct the html commands
                        that matches the page that you will design. You can use tools which are in-built in this website to
                        make attractive html pages.
                        The HyperText Markup Language, or HTML is the standard markup language for documents designed to be
                        displayed in a web browser. It can be assisted by technologies such as Cascading Style Sheets and
                        scripting languages such as JavaScript.
                    </p>-->

               <p style="font-family: Arial"><strong>T</strong>he HyperText Markup Language, or HTML is the standard markup language for documents designed to be displayed in a web browser. It can be assisted
                    by technologies such as Cascading Style Sheets and scripting languages such as JavaScript.<br>
                    This website, Html Converter.utils is with a beautiful interface is a converter which helps you to construct the html commands that matches the page that you will design.
                    You can use tools which are in-built in this website to make attractive html pages. It allows the user to create and structure sections,
                     paragraphs, headings, link etc. for web pages.<br><br>
                     As an output the user will get two outputs, the Html file and the Css file in the proper order.
                  </p>


    <div class="team"><strong>Our Team</strong></div>


                    <div class="container">
            <div class="card">
                <div class="img">
                    <img src='{% static "samarth1.jpeg" %}'>
                </div>
                <div class="top-text">
                    <div class="name">Samarth Vyas</div>
                    <p>Student</p>
                </div>
                <div class="bottom-text">
                    <div class="text">An astute learner, inquisitive, energetic, skilled in leadership and a team worker.<br>
                        Seeking to leverage solid 
                        development skills with a focus on collaboration, communication, passion and creativity.
                    </div>
                    <div class="icons">

                        <a href="https://github.com/samarthvyas11" target="blank"><i class="fa fa-2x fa-github"></i></a>
                       <a href="www.linkedin.com/in/samarth-vyas-a901ab1b1" target="blank"><i class="fa fa-2x fa-linkedin"></i></a>
                       </div>
                </div>
            </div>

            <div class="card">
                <div class="img">
                    <img src='{% static "Bhawna1.jpeg" %}'>
                </div>
                <div class="top-text">
                    <div class="name">Bhawna Gurjar</div>
                    <p>Student</p>
                </div>
                <div class="bottom-text">
                    <div class="text">I'm a tech-enthusiast, adaptable team player with problem-solving skills.<br>
				I am interested in Web Development, loves to do code and also an open source contributor.
                    </div>
                    <div class="icons">


                        <a href="https://github.com/bhawnagurjar27" target="blank"><i class="fa fa-2x fa-github"></i></a>
                     <a href="https://www.linkedin.com/in/bhawnagurjar27" target="blank"><i class="fa fa-2x fa-linkedin"></i></a>

                    </div>
                </div>
            </div>
        </div>
        </section>

<!-- for footer  -->
<footer class="footer1" style="width: auto;
margin-top: 0px;
margin-bottom: 0px;
padding-top: 10px;
text-align: center;
box-sizing: border-box;
background-color: rgba(0, 0, 0, 0.959);
color: white;
font-size: 20px;
font-family: 'Times New Roman', Times, serif;">
    <p id="middle">Connect With Us</p>

    <div class="icons">
        <a href="https://www.linkedin.com/in/samarth-vyas-a901ab1b1" target="blank"><i class="fa fa-2x fa-linkedin" aria-hidden="true" style="background-color: black;"></i></a>
        <a href="https://www.facebook.com/bhawna.gurjar.79" target="blank"><i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i></a>
        <a href="" target="blank"><i class="fa fa-2x fa-twitter" aria-hidden="true" style="background-color: black;"></i></a>
        <a href="https://www.linkedin.com/in/bhawnagurjar27" target="blank"><i class="fa fa-2x fa-linkedin" aria-hidden="true" style="background-color: black;"></i></a>



    </div>
    <p id="last">Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2021 Html Converter.utils <br>All rights reserved.</p>

   <div id="heart">
            <p>Made in India with &#128151;</p>
        </div>
</footer>

{% endblock body %}
{% block scripting %}
{% endblock scripting %}
