{% load static %}
<!doctype html>
<html lang="en">
 
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Converter</title>
    <link rel="icon" href="static/icon.png">
    <style>
      body{
        width: 100vw;
        height: 100vh;
        margin:0%;
        padding:0%;
        /* overflow: hidden; */
        background-repeat: no-repeat;
        /* background-image: url( {% static "bg3.jpg" %} ); */
       
        
      }
      nav{
        background-color: transparent;
        
      }
      .navbar li.active {
         border-bottom: 3px solid red;
        }
      
       {% block styling %}

       {% endblock styling %}
       
    </style>
  </head>
  <body >
    <nav class="navbar navbar-expand-lg navbar-light" >
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Converter</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             
              <li class="nav-item {% block homeactive%} {% endblock homeactive%}">
                <a class="nav-link " id="Home" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item  {% block aboutactive%} {% endblock aboutactive%}">
                <a class="nav-link " id="About"  aria-current="page" href="/About">About</a>
              </li>
              <li class="nav-item {% block Contactactive%} {% endblock Contactactive%}">
                <a class="nav-link " id="Contact" href="/Contact">Contact</a>
              </li>
              <li class="nav-item {% block Editoractive%} {% endblock Editoractive%}">
                <a class="nav-link " id="Editor" href="/Editor">Editor</a>
              </li>
              
            </ul>
           
          </div>
        </div>
        {% if user.is_authenticated %}
            <ul class="navbar-nav mr-2" >
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href='#' id="navbarDropdown" role="button"  data-toggle="dropdown" style="font-weight: bold;    font-weight: bold;
            background-color: darkkhaki;
            border-radius: 22%;
            
            color: white;"> Hello! {{request.user}}</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" style="background-color: transparent;"  href="/logout">Logout</a>

            </div>
            </li>
            </ul>

          {% else %}
            <!-- Button to  trigger Login modal -->
            <button type="button" style="background-color:rgb(172, 164, 164); color: black;" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
              Login
            </button>

              <button type="button" class="btn btn-success mx-2" data-toggle="modal"  data-target="#signupModal">
              Signup
              </button>
              
          {% endif %}
      </nav>


      {%for message in messages %}
      <div class=" alert-{{ message.tags}} alert-dismissible fade show" role="alert">
        <strong>Message : </strong> {{message}}
       
      </div>
      {% endfor%}

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Logging In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  method="POST" action="/login">
          {% csrf_token %}
            <div class="form-group ">
              <label for="username">Username</label>
              
              <input type="text" class="form-control" id="loginusername" name="loginusername" placeholder="username" Required>
            </div>
      
            <div class="form-group">
              <label for="pass">Password</label>
              <input type="password" class="form-control" id="loginpassword" name= "loginpassword"  placeholder="Enter password" Required>
            </div>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Login</button>
          </form>
      </div>
    </div>
  </div>
</div>

<!-- for Signup -->

<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/signup">
          {% csrf_token %}
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="username(Lowercase and alphanumeric)" Required>
          </div>
          <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name" Required>
          </div>
          <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name" Required>
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name= "email"  placeholder="name@example.com" Required>
          </div>
          <div class="form-group">
            <label for="pass1">Password</label>
            <input type="password" class="form-control" id="pass1" name= "pass1"  placeholder="Enter password" Required>
          </div>
          <div class="form-group">
            <label for="pass2">Confirm Password</label>
            <input type="password" class="form-control" id="pass2" name= "pass2"  placeholder="Confirm password " Required>
          </div>


         
        
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">SignUp</button>
     
        </form>
      </div>
    </div>
  </div>
</div>












      {% block body %}
          
      {% endblock body %}
   

<!-- 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script> -->
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>  
<script src='{% static "jquery.js" %}'></script>
</body>
  <script>

       var audio = new Audio("{% static 'music/beep.mp3' %}");

         document.getElementById("About").onmousedown = function() {
          audio.play();
     }
     document.getElementById("Contact").onmousedown = function() {
          audio.play();
     }

     document.getElementById("Home").onmousedown = function() {
          audio.play();
     }

     document.getElementById("Editor").onmousedown = function() {
          audio.play();
     }







  {% block scripting %}
  $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
  {% endblock scripting %}
</script>
</html>
