{% extends 'base.html' %}}
{% load static %}
{% block title %} Contact
{% endblock title %}
{% block styling %}
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroLL-behavior:smooth;
}
P{
    font-weight: 300;
    color:#111;
}


titleText{
    color: #111;
    font-size: 2em;
    font-weight: 300;
}
.titleText span{
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.title p{
font-weight: bold;
}
.container{
    margin-top: 30px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    place-items: center;
}

section{
        padding: 20px;
    }

.contact{
 background-image: url( {% static "bg5.jpg" %} );
 background-size: cover;
}
.contactForm{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    max-width: 500px;
    margin-top: 50px;
}
.contactForm h3{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.contactForm .inputBox input[type="submit"]{
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}
@media(max-width: 991px){
.contactForm{
        padding: 35px 40px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

footer {
    width: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    text-align: center;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.959);
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

footer span {
    text-align: center;
}

footer span,
footer a {
    padding-top: 25px;
    margin-top: 20px;
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 100px;
    padding-top: 2px;
    text-decoration: none;
    color: white;
    font-size: 17px;
}

#middle {
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 20px;
    color: mediumpurple;

}
#heart p{
    color: rgba(174, 172, 251, .62);
    font-size: 18px;
}

footer a:hover {
    color: lightgreen;
}

.icons {
    size: 20px;
    height: 15vh;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

.icons a {
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 35px;
    text-align: center;
    margin: 10px;
    line-height: 60px;
    box-shadow: 0px 1px 2px 2px #c9cddf;
}

.icons a i {
    transition: all 0.3s linear;
}

.icons a:hover i {
    transform: scale(1.4);
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

#last {
    color: white;
    text-align: center;
}

form{
    width: 42%;
    background-color: white;
    padding: 2%;
    border-radius: 6%;
}

   
{% endblock styling %}
{% block Contactactive %}
active
{% endblock Contactactive%}
{% block body %}
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="contact" id="contact">
            <div class="title">
                <h2 class="titleText" style="color: white;"><span>C</span>ontact Us</h2>
                <p style="color: white;">For suggestion / problem with the designing / working of this site and further improvement, you may contact</p>
            </div>
            <form action="/Contact" method="post">
                {% csrf_token %}
                  <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp">
               
                    </div>
                  <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="phone">Phone number</label>
                    <input type="phone" class="form-control" id="phone" name="phone">
                  </div>
                  <div class="form-group">
                      <label for="content">Tell us your issue</label>
                      <textarea id="content" name="content" class="form-control" type="Text" ></textarea>
                    </div>
                  
                  <button type="submit" style="background-color:#ff0157;" class="btn btn-primary" name="content2">Submit</button>
                </form>
</section>
<!------------Footer-------------->
<footer>
    <p id="middle">Connect With Us</p>

    <div class="icons">
        <a href="https://www.linkedin.com/in/samarth-vyas-a901ab1b1" target="blank"><i class="fa fa-2x fa-linkedin" aria-hidden="true" style="background-color: black;"></i></a>
        <a href="https://www.facebook.com/bhawna.gurjar.79" target="blank"><i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i></a>
        <a href="" target="blank"><i class="fa fa-2x fa-twitter" aria-hidden="true" style="background-color: black;"></i></a>
        <a href="https://www.linkedin.com/in/bhawnagurjar27" target="blank"><i class="fa fa-2x fa-linkedin" aria-hidden="true" style="background-color: black;"></i></a>



    </div>
    <p id="last">Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2021 Html Converter.utils <br>All rights reserved.</p>

   <div id="heart">
            <p>Made in India with &#128151;</p>
        </div>
</footer>


{% endblock body %}
{% block scripting %}

{% endblock scripting %}
