{% extends 'base.html' %}}
{% load static %}
{% block title %} Contact
{% endblock title %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/for_contact.css' %}">
{% endblock link %}

{% block Contactactive %}
active
{% endblock Contactactive%}
{% block body %}
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="contact" id="contact">
            <div class="title">
                <h2 class="titleText" style="color: white;"><span>C</span>ontact Us</h2>
                <p style="color: white;">For suggestion / problem with the designing / working of this site and further improvement, you may contact.</p>
            </div>
            <form action="/Contact" method="post">
                {% csrf_token %}
                  <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp">
               
                    </div>
                  <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="phone">Phone number</label>
                    <input type="phone" class="form-control" id="phone" name="phone">
                  </div>
                  <div class="form-group">
                      <label for="content">Tell us your issue</label>
                      <textarea id="content" name="content" class="form-control" type="Text" ></textarea>
                    </div>
                  
                  <button type="submit" style="background-color:#ff0157;" class="btn btn-primary" name="content2">Submit</button>
                </form>

</section>
<!------------Footer-------------->
<footer>
    <p id="middle">Connect With Us</p>

    <div class="icons">
        <a href="https://www.linkedin.com/in/samarth-vyas-a901ab1b1" target="blank"><i class="fa fa-2x fa-linkedin" aria-hidden="true" style="background-color: black;"></i></a>
        <a href="https://www.facebook.com/bhawna.gurjar.79" target="blank"><i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i></a>
        <a href="" target="blank"><i class="fa fa-2x fa-twitter" aria-hidden="true" style="background-color: black;"></i></a>
        <a href="https://www.linkedin.com/in/bhawnagurjar27" target="blank"><i class="fa fa-2x fa-linkedin" aria-hidden="true" style="background-color: black;"></i></a>



    </div>
    <p id="last">Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2021 Html Converter.utils <br>All rights reserved.</p>

   <div id="heart">
            <p>Made in India with &#128151;</p>
        </div>
</footer>


{% endblock body %}
{% block scripting %}

{% endblock scripting %}
