{% extends 'base.html' %}}
{% load static %}
{% block title %} Editor
{% endblock title %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/for_editor.css' %}">

{% endblock link %}

{% block Editoractive %}
active
{% endblock Editoractive%}
{% block body %}
{% if user.is_authenticated %}
{% csrf_token %}
<div class="container1">
    <div class="button_bar">
        <div class="btn-group-vertical" role="group" aria-label="Basic example">
            <button type="button" onclick="open_buttons()" style="background-color:#555555;border-radius:18px ;margin-bottom: 6%;" class="btn btn-secondary">Button</button>
            <button type="button" onclick="open_heading()" style="background-color: #555555;border-radius:18px; margin-bottom: 6%;" class="btn btn-secondary">Heading</button>
            <button type="button" onclick="open_img()" style="background-color: #555555;border-radius:18px; margin-bottom: 6%;" class="btn btn-secondary">Image</button>
            <button type="button" onclick="open_anchor()" style="background-color:#555555;border-radius:18px; margin-bottom: 6%;" class="btn btn-secondary">Anchor Tag</button>
            <button type="button" onclick="open_paragraph()" style="background-color: #555555;border-radius:18px; margin-bottom: 6%;" class="btn btn-secondary">Paragraph</button>
            <button type="button" onclick="open_marque()" style="background-color:#555555;border-radius:18px; margin-bottom: 6%;" class="btn btn-secondary">Marquee</button>
            <button type="button" onclick="clear_last()" style="background-color:#555555;border-radius:18px; margin-bottom: 6%;" class="btn btn-secondary">Undo</button>
            <button type="button" onclick="clear_all()" style="background-color: #555555;border-radius:18px; margin-bottom: 6%;" class="btn btn-secondary">Clear</button>

        </div>

        <button type="button" onclick="create_html()" class="create_html">Generate HTML</button>
    </div>



    <div class="sub_button">

    </div>
   <div class="frame">

   </div>

</div>
{% else %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="at_center">
<i class="fa fa-4x fa-exclamation-triangle" aria-hidden="true"></i>
Login to Use the Editor
</div>
{% endif %}
<div class="output">


</div>
<script src='{% static "javascript/script_editor.js" %}'></script>

{% endblock body %}


   


