{% extends 'base.html' %}}
{% load static %}
{% block title %} Home
{% endblock title %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/for_home.css' %}">
{% endblock link %}

{% block homeactive%} active{% endblock homeactive%}
{%block body%}
<div class="img3" style="background-color: black">
<img src='{% static "home1.png" %}' >

</div>
<div class="container_main">
    <div class="left_side">
        <div class="left_writen">
            Welcome to <h1 class="head"><span>H</span>TML Converter.utils</h1>

       </div>
    </div>
    <div class="right_side">
        <p><spam style="font-weight: bold;">I</spam>t is a converter which helps you to construct the html commands that matches
        the page that you design.You can use tools which are in-built in this website to make
            attractive html pages.
        </p>

    </div>

</div>
<div class="slogan">
            <h4>“What separates design from art is that design is meant to be… functional.”</h4>
        </div>

<!-- About start   -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="about" id="about">
                    <h2 class="titleText"><span>A</span>bout Us</h2><br>
                    


                  <p style="font-family: Arial"><strong>T</strong>he HyperText Markup Language, or HTML is the standard markup language for documents designed to be displayed in a web browser. It can be assisted
                    by technologies such as Cascading Style Sheets and scripting languages such as JavaScript.<br>
                    This website, Html Converter.utils is with a beautiful interface is a converter which helps you to construct the html commands that matches the page that you will design.
                    You can use tools which are in-built in this website to make attractive html pages. It allows the user to create and structure sections,
                     paragraphs, headings, link etc. for web pages.<br><br>
                     As an output the user will get two outputs, the Html file and the Css file in the proper order.
                  </p>


    <div class="team"><strong>Our Team</strong></div>
                    <div class="container">
            <div class="card">
                <div class="img">
                    <img src='{% static "samarth1.jpeg" %}'>
                </div>
                <div class="top-text">
                    <div class="name">Samarth Vyas</div>
                    <p>Student</p>
                </div>
                <div class="bottom-text">
                    <div class="text">An astute learner, inquisitive, energetic, skilled in leadership and a team worker.<br>
                        Seeking to leverage solid 
                        development skills with a focus on collaboration, communication, passion and creativity.
                    </div>
                    <div class="icons">

                        <a href="https://github.com/samarthvyas11" target="blank"><i class="fa fa-2x fa-github"></i></a>
                       <a href="www.linkedin.com/in/samarth-vyas-a901ab1b1" target="blank"><i class="fa fa-2x fa-linkedin"></i></a>
                       </div>
                </div>
            </div>

            <div class="card">
                <div class="img">
                    <img src='{% static "Bhawna1.jpeg" %}'>
                </div>
                <div class="top-text">
                    <div class="name">Bhawna Gurjar</div>
                    <p>Student</p>
                </div>
                <div class="bottom-text">
                    <div class="text">I'm a tech-enthusiast, adaptable team player with problem-solving skills.<br>
				I am interested in Web Development, loves to do code and also an open source contributor.
                    </div>
                    <div class="icons">


                        <a href="https://github.com/bhawnagurjar27" target="blank"><i class="fa fa-2x fa-github"></i></a>
                     <a href="https://www.linkedin.com/in/bhawnagurjar27" target="blank"><i class="fa fa-2x fa-linkedin"></i></a>

                    </div>
                </div>
            </div>
        </div>
        </section>



<!-- For Contact   -->


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="contact" id="contact">
            <div class="title">
                <h2 class="titleText" style="color: white;"><span>C</span>ontact Us</h2>
                <marquee style="
                color:white">For suggestion / problem with the designing / working of this site and further improvement, you may contact.</marquee>
            </div>
            <form action="/Contact" method="post">
                {% csrf_token %}
                  <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp">

                    </div>
                  <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="phone">Phone number</label>
                    <input type="phone" class="form-control" id="phone" name="phone">
                  </div>
                  <div class="form-group">
                      <label for="content">Tell us your issue</label>
                      <textarea id="content" name="content" class="form-control" type="Text" ></textarea>
                    </div>

                  <button type="submit" style="background-color:#ff0157;" class="btn btn-primary" name="content2">Submit</button>
                </form>
</section>
<!------------Footer-------------->
<footer>
            <p id="middle">Connect With Us</p>

            <div class="icons">
                <a href="https://www.linkedin.com/in/samarth-vyas-a901ab1b1" target="blank"><i class="fa fa-2x fa-linkedin" aria-hidden="true" style="background-color: black;"></i></a>
                <a href="https://www.facebook.com/bhawna.gurjar.79" target="blank"><i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i></a>
                <a href="" target="blank"><i class="fa fa-2x fa-twitter" aria-hidden="true" style="background-color: black;"></i></a>
                <a href="https://www.linkedin.com/in/bhawnagurjar27" target="blank"><i class="fa fa-2x fa-linkedin" aria-hidden="true" style="background-color: black;"></i></a>



            </div>
            <p id="last">Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2021 Html Converter.utils <br>All rights reserved.</p>

           <div id="heart">
                    <p>Made in India with &#128151;</p>
                </div>
        </footer>






{%endblock body%}
{% block scripting %}
{% endblock scripting %}
