<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="output" style="width: 70vw;height: 88vh;border-style: solid;margin: auto;margin-top: 2%;">
        <div class="result_frame" style="width: 70%;height: 82%;">

        </div>
        <div class="DC_button" style="width: 100%;height: 15%;background-color: chartreuse;position: relative;">
            <a style="position: absolute;
            left: 8%;
            width: 32%;
            height: 50%;
            top: 15%;
            text-align: center;
            padding-top: 2%;
            font-size: 2vw;
            background-color: lightslategray;
            border-radius: 5%;"><i class="fa fa-download"></i> Download</a>
            <button class="btn" style="position: absolute;left: 75%;top: 35%;"> Cancel  </button>
    
        </div>
        



    </section>
</body>
</html>